<ul class="sidebar-nav">
  {% if user.is_authenticated %}
    <li>
      User: {{ user.username }}
    </li>
  {% else %}
    <li>
      <a href="{% url 'accounts:login' %}">Login</a>
    </li>
  {% endif %}
  <br>
  <li>
    <a href="{% url 'catalog:index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'catalog:lista-de-autores' %}">Todos autores</a>
  </li>
  <li>
    <a href="{% url 'catalog:lista-de-livros' %}">Todos livros</a>
  </li>
  <li>
    <a href="{% url 'catalog:lista-de-generos' %}">Todos generos</a>
  </li>

  {% if user.is_authenticated %}
  <br>
    <a href="{% url 'accounts:logout' %}">Logout</a>
  {% endif %}
</ul>