{% extends 'base.html' %}

{% block content %}
<h1>Lista de Autores</h1>
{% if author_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>username</th>
        <th>Pseudonimo</th>
      </tr>
    </thead>
    <tbody>
      {% for autor in author_list %}
      <tr>
        <td><a href="{{ autor.get_absolute_url }}">{{ autor.id }}</a></td>
        <td>{{ autor.first_name }} {{ autor.last_name }}</td>
        <td>{{ autor.username }}</td>
        <td>{{ autor.psedonimo }}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
{% else %}
<p>Não há autores aqui</p>
{% endif %}
{% endblock %}