{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }} <a class="btn btn-secondary" style="float: right;" href="{% url 'catalog:atualizar-livros' pk=book.pk %}">Editar</a></h1>

<p><strong>Preço: </strong>{{ book.price }}</p>
<p><strong>Gênero: </strong>{{ book.format }}</p>
<div class="ml-3">
  <h3>Autores</h3>
  {% for autor in book.authors.all %}
  <p class="text-muted">{{autor.first_name}} {{autor.last_name}}</p>
  <p>ID: {{autor.id}}</p>
  {% if autor.psedonimo %}
    <p>Pseudonimo: {{autor.psedonimo}}</p>
  {% endif %}
  {% empty %}
    </p>Sem autores</p>
  {% endfor %}
</div>
{% endblock %}